[project]
	description = This repository is for practice pourpose.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tanveer92
[access "refs/for/refs/*"]
	read = group user/Tanveer92
	push = group user/Tanveer92
	label-Code-Review = -2..+2 group user/Tanveer92
	label-Verified = -1..+1 group user/Tanveer92
	rebase = group user/Tanveer92
	removeReviewer = group user/Tanveer92
	submit = group user/Tanveer92
[access "refs/heads/*"]
	read = group user/Tanveer92
	create = group user/Tanveer92
	push = +force group user/Tanveer92
	pushMerge = group user/Tanveer92
[access "refs/tags/*"]
	push = +force group user/Tanveer92
	pushTag = group user/Tanveer92
	pushSignedTag = group user/Tanveer92
